* {
  margin: 0;
  padding: 10;
  box-sizing: border-box;

}

.fondo{
  background-image: url(imgcss/portada.jpeg);
  background-size: cover;
  
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  font-size 1rem;
  line-height: 1.45;
  color: var(--color-text);
  margin-left: auto;
  margin-right: auto;
}
.footer{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
}

.footer8{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
}

span{
  color: white;
}


header .container {
  flex-direction: column;
  text-align: center;
  
}

header .container a {
  color: white;
 text-decoration: none;
 font-size: 20px;

}

header a:hover{
  color: transparent;
}

#hero{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: auto;
  width: 100%;
 
  margin-top: 0%;
  font-weight: 20px;
  
}

#hero h1{
  font-size: 100px;
  text-align: center;
  color: #efd5f0;
}

#hero h2{
  font-size: 80px;
}



#nuestros-programas{
  
  color: rgb(255, 255, 255);
  text-align: center;

}

#nuestros-programas .container{
  padding: 9px 192px;
}

#nuestros-programas h2{
  margin-top: 0 ;
 color:#efd5f0;
  font-size: 30px;
}

.nuestros-programas p{
  font-size: medium;
}

#nuestros-programas .carta{
  background-position: center center;
  background-size: cover;
  padding: 50px 0px;
  margin: 30px;
  border-radius: 15px;
}

.carta p{
  text-align: center;
}

.carta:first-child{
  background-color: aliceblue;
  background-image: url(imgcss/img-analoga08.JPG);
 
}

.carta:nth-child(2){
 background-color: #ca8cd1aa;
 background-image: url(../img-food/img-fondo.jpg);
}

.carta:nth-child(3){
  background-image: url(../img/img-analoga02.JPG);
}

#caracteristicas .container{
  text-align: center;
  padding: 250px 12px;

}

a {
  color:#f01f4c86;
}
.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.services__button {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #fff;
  background-color:#f01f4b;
  border-radius: 2rem;
}


.animacion {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: rgba(255, 0, 0, 0.568);
  position: relative;
  animation: mymove 40s;
  animation-fill-mode: forwards;
  margin-top: none;
  margin-left: 20%;
  translate: 20px;
  translate: 30px;
  
  }
        .animacion5 {
          border-radius: 50%;
          width: 90px;
          height: 90px;
          background: rgba(217, 255, 0, 0.568);
          position: relative;
          animation: mymove 40s;
          animation-fill-mode: forwards;
          margin-top: none;
          margin-left: 10%;
          translate: 55px;
          translate: 0px;
          animation-duration: 5;
          }
          .animacion6{
            border-radius: 50%;
            width: 50px;
            height: 50px;
            background: rgba(0, 255, 26, 0.568);
            position: relative;
            animation: mymove 40s;
            animation-fill-mode: forwards;
            margin-top: none;
            margin-left: 20%;
            translate: 55px;
            translate: 0px;
            animation-duration: 5;
            }
        
      
    
  
  @keyframes mymove {
    from {top: 10px;}
    to {top: 300px; background-color: rgba(234, 255, 0, 0.564);}
  }
 
  /*index 3*/

  .fondo-analoga{
    background-color: #000000be;
  }
.titulo-analoga h1 {
  font-size: 80px;
  text-align: center;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color:rgba(255, 255, 255, 0.568)

}

.texto-analogo p {
  color: rgb(255, 254, 254);
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;

}

.texto-analogo h2 {
  color: rgba(212, 212, 179, 0.568);
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 5%;

}
   
    
 
.container-body h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  text-align: center;
  
}
.container-body p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  text-align: left;
  margin-left: 5%;

}

.perfil{
  display: flex;
  margin-left: 25%;
}
.imgRedonda {
  width: 300px;
  height: 300px;
  display: inline-block;
}


.buttons {
  min-width: 700px;
  display: flex;
  justify-content:center;
}

.buttons a {
  text-decoration: none;
  font-size: 28px;
  margin-top: 0%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #4a5231;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .2s ease-in-out;
}

.buttons a:hover {
  transform: scale(1.2);
}

.cuadros{
  border-style: solid;
  border-color: #d3ba4dbb;
  border-width: 50px;
  
}


.cuadros:hover {
  background-color: rgba(205, 181, 144, 0.724);
}


/*INDEX 4 RECETAS*/

.Recetas h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-style: italic;
  margin-top: 10%;
  text-align: center;
  color: white;

}

.fondo-recetas{
  background-image: url(imgcss/comida.jpg);
 
}
:root {
  --color-primary:    #9573aa;
  --color-text:       #17161A;
  --color-background: #ffffff93;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.45;
  color: var(--color-text);
}
a {
  color: var(--color-primary);
}
.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.services {
  padding: 3rem 0;
}

.services__title {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5rem;
  line-height: 1;
}

.services__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 40px;
  margin-bottom: 4rem;
}
.service {
  padding: 2.5rem 1.25rem 2rem 1.25rem;
  text-align: center;
  background-color: var(--color-background);
  border-radius: 20px;
}
.service__title {
  margin-bottom: 1rem;
  line-height: 1;
}
.service__description {
  margin-bottom: 1.75rem;
}

.services__button {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #fff;
  background-color: var(--color-primary);
  border-radius: 2rem;
}

.queque{
  background-color: #d395296c;
}

.queque h1 {
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  color: #17161A;
  text-align: center;
  margin-top: 20%;
  margin-bottom: 20%;
  text-decoration: overline;

}

.queque h2{
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  color: #17161A;
  text-align: left;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 8%;

}


.queque h3{
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  color: #17161A;
  margin-top: 6%;
  margin-bottom: 3%;
  margin-left: 20%;

}


.queque li {
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #17161A;
  text-align: left;
  margin-left: 20%;

}



.queque p {
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #17161A;
  text-align: left;
  margin-top: 5%;
  margin-bottom: 3%;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;

}



.galeria-Q{
  margin-left: 40%;
  margin-right: 20%;
}


.galeria2-Q {  /*QUEUQE GALERIA*/
  margin-left: 40%;
  margin-right: 20%;
  display: flex;
  padding-left: 10px;
  padding-right: 30%;
  margin-left: 8%;
  margin-top: 5%;
  margin-right: 30%;
  grid-template: repeat( 4 1fr) / repeat(4, 1fr);
  grid-gap: 5px 10px;
  margin-bottom: 10%;
  
}

.marmol{
  margin-left: 10%;
  margin-top: 10%;
}

/*GALLETA*/
.galleta{
  background-color: #8a456daf;
  border-style: groove;
  border-width: 20px;
}

.fotofoodQ{
  display: inline-block;
}
.fotofoodQ1{
  display: inline-block;
}
.fotofoodQ3{
  display: inline-block;
}




.galleta h1 {
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  color: #17161A;
  text-align: center;
  margin-top: 20%;
  margin-bottom: 20%;

}


.galleta li {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #17161A;
  text-align: left;
  margin-left: 20%;

}

.galleta h4 {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #17161A;
  text-align: left;
  margin-top: 8%;
  margin-left: 10%;
}

.galleta p {
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #17161A;
  text-align: left;
  margin-top: 5%;
  margin-bottom: 3%;
  text-align: left;
  margin-left: 10%;

}


.galleta h3 {
  font-size: 45px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  margin-top: 8%;
  margin-left: 40%;
  text-align: center;


}


.galeriaB2-food{
  display: flex;
  padding-left: 10px;
  padding-right: 30%;
  margin-left: 8%;
  margin-top: 5%;
  margin-right: 30%;
  grid-template: repeat( 4 1fr) / repeat(4, 1fr);
  grid-gap: 5px 10px;
  margin-bottom: 10%;
  
}

.fotofoodB2{
  display: inline-block;
}

.fotofoodB4{
  display: inline-block;

}
.fotofoodB5{
  display: inline-block;
}
.fotofoodB6{
  display: inline-block;
}

/*Index 5*/

.fondo3{
  background-color: #905b17af; 
  border-style:double;
  border-color: #c94b19bb;
  border-width: 40px;
}
.Viaje h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  text-align: center;
  margin-top: 10%;
  font-style: italic;
}

.Viaje h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 10%;
}
.Viaje p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  text-align: center;
  margin-top: 10%;
  text-align: left;
  margin-left: 45%;
  margin-right: 5%;
  
}

.img-viaje2{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: -30%;
  border-style: double;
  border-width: 10px;
}
.galeria-sp{
 display: flex;
 margin-bottom: 10%;
}
.img-viajeA{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  display: inline-block;
}
.img-viajeB{
  margin-left: 0%;
  margin-right: 10%;
  margin-top: 10%;
  display: inline-block;
}
.img-viajeC{
  margin-left: 0%;
  margin-right: 10%;
  margin-top: 10%;
  display: inline-block;
}

.button {
  background-color: #2a342b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20%;
  margin-left: 50%;
  
}

.button a {
 color: #000;
  
}

button :hover a {
  color: transparent;
}

#gallery {
  line-height:0;
  -webkit-column-count:5; /* split it into 5 columns */
  -webkit-column-gap:5px; /* give it a 5px gap between columns */
  -moz-column-count:5;
  -moz-column-gap:5px;
  column-count:5;
  column-gap:5px;
}

#gallery img {
  width: 90% !important;
  height: auto !important;
  margin-bottom:5px; /* to match column gap */
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20%;
}
@media (max-width: 800px) {
  #gallery {
   -moz-column-count:    4;
   -webkit-column-count: 4;
   column-count:         4;
  }
}

.anexo{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style: italic;
font-size: 40px;
text-align: center;
margin-top: 5%;
}
