html { background-color: beige;

}

body {

   font-size: 5rem;
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin-left: auto;
   margin-right: auto;
 }
  
  h1 
  main-title{
   font-size: 5rem;
   font-weight: 300;
    color: rgb(165, 71, 71);
    text-align: center;
  }
  
  p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px
  }
  