*{
  margin: 0px;
  padding: 0px;

}

div#general {
  margin: auto;
  margin-top: 30px;
  width: 900px;
  height: 1000px;
  background-color: beige;
}

div#ofertas {
  float: right;
  width: 300px;
  height: 400px;
  background-color: cornflowerblue;
  margin-top: 10px;

}

div#novedades {
  float: left;
  width: 640px;
  height: 200px;
  background-color: bisque;
}

div#body {
  margin-top: 0px;
  width: 300px;
  height: 800px;
  background-color: palevioletred;
}

div#extra {
  margin-left: 600px;
  width: 380px;
  height: 350px;
  background-color: palegoldenrod;
}

p {
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
  margin-top: 30px;
  max-width: 300px ;
  margin-left: 0.5cm;
  margin-right:0.5cm;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  padding: 500px;
  font-weight: 100;
  align-content: initial;
}

nav{
  margin-left: 20px;
  margin-top:100px;

}

boton {
  border: none;
  padding: 14px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  
}